body{
    margin: 0;
    padding:0;

    background: url("img/5794aedde3199f0b18c63598668e77b0.png") ;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    position:relative;
   
    
}
.menu-m >li{

}
.bg-m{
    background-color:blueviolet;
    width:100%;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    
}


@font-face{
    src:url(font/00114-UTM-Hanzel.ttf);
    font-family:Hanzel;
    
}
@font-face{
    src:url(font/BaiJamjuree-Bold.ttf);
    font-family: Bai Jamjuree;
}
.nav{
      margin:0;
      padding: 0;
      background-color:#140034;
}


.text-menu{
        color:white;
        text-align: center;
  
}
.text-menu >a {
    text-decoration: none;
    color:white;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */




}



.card-title{
    font-family:Hanzel;
   
    font-weight: normal;
    font-size: 40px;
    line-height: 59px;
    font-style: normal;
    /* identical to box height */

    text-transform: uppercase;
    color:white;
}
.card-text{
    font-family: Bai Jamjuree;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;


color: #FFFFFF;
}
.form label{
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    /* identical to box height */


    color: #E3C2FF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 0px;
}
.form input{
    font-family: Bai Jamjuree;
    width: 454px;
    height: 108px;
    left: 0px;
    top: 54px;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0.1);
    color: aliceblue;
    border: 2px solid #C835F8;
    border-radius: 12px;
   
}
.form  ::placeholder{
    color:white
}
.footer{
  margin-top: 10%;
   
   
}
.card-img .iconfooter{
    width:27,18px;
    height:22,79px;
}

.bg-das{
    background-color: #14032D;
}

.form-das input{
    align-items: center;
    padding: 20px 40px;
    
    position: static;
    width: 300px;
    height: 63px;
    left: 331px;
    top: 0px;
    
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #14032D;
   
}
.form-das  ::placeholder{
    position: static;
width: 138px;
height: 23px;
left: 40px;
top: 20px;

font-family: Bai Jamjuree;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
}
.form-das-t input{
    align-items: center;
    padding: 20px 40px;
    
    position: static;
    width: 300px;
    height: 63px;
    left: 331px;
    top: 0px;
    
    border: 1px solid #FF54FF;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: #14032D;
   
}
.text-menu-das>p{
    text-decoration: none;
    color:white;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    line-height: 100%;
    Vertical-align: Top;
}
.card-fc{
    background: #14032D;
border-radius: 12px;
}
.nd{
font-family: Bai Jamjuree;
font-style: Regular;
font-size: 18px;
line-height: 23px;
line-height: 100%;
text-align:center;
Vertical-align: Top;
color: white;
}
.text-fc{
    font-family:Hanzel;
    font-size: 16px;
    font-style: normal;
    font-weight: 250;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color:#C835F8
    
}
.text-fcp{
    font-family: Bai Jamjuree;
    font-size: 18px;
    font-style: normal;
    font-weight: 250;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    color: white;

}

.c-hr {
    width:20%; 
    display:inline-block;
    border: 3px solid #A00CF8;
    background-color: #A00CF8;

    


}
.text-a{
    /* Team */


font-family:Hanzel;
font-style: normal;
font-weight: normal;
font-size: 32px;
line-height: 47px;

text-transform: uppercase;

color: #FFFFFF;




    
}

.ab{
    /* Co – Founder/CEO */


font-family: Bai Jamjuree;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
/* identical to box height */

color: #FFFFFF;


}
.nd{
    /* He has 5 years of experiences in Crypto market and business. Nathan is a trader, private investor, researcher and also the project strategist. Additionally, connection and communication can be considered as the good aspects for Nathan in arranging cooperation between Crypto communities. Eventually, 4 successful global crypto projects have been founded by him. And now is Polyplus. */


font-family: Bai Jamjuree;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #FFFFFF;
max-width: 300px;




}
.input-das input{
    width: 90%;
    height: 63px;
    border: 1px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 15%;
    background-color: #14032D;
    color: #AEAEAE;
    

}
.input-das-t input{
    width: 90%;
    height: 63px;
    border: 1px solid #FF54FF;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 15%;
    background-color: #14032D;
    color: #AEAEAE;
    

}
.card{
    background-color:#14032D;
    border-radius: 12px;
}

.bg-claim{
    background: linear-gradient(0deg, #FF54FF 0%, #9C00BF 49.26%, #5A00A9 100%);
    border-radius: 12px;
    font-family: Bai Jamjuree;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #FFFFFF;
    width: 100%;
    height: 63px;
    }




.link {
    cursor: pointer;
    

}
.links .active{
    color:
    #A00CF8;
}

.position .hinhneba {
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
    

}
.position .hinh{
    position:absolute;
    top:50%;
    left: 0;
    z-index: -1;
}

@media only screen and(max-width:767px) and (min-width:320px)
{
    .nm{
        min-height: 100vh;
    }
}